*{
    box-sizing: border-box;
}


.center-vert {
    display:flex;
    align-items:center;
    justify-content: center;
   
}

.center-horiz {
    margin: 0;
    position: absolute;
    left: 50%;
    margin-top: 1%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.logo {
   
    width: 100px;
    margin-bottom: -40px;
    margin-top: -40px;

}


.tittle {
    width: 20rem;
    align-items: center;
    justify-content:top;
}

.logoimg {
   width: 50%;
   height:auto;
   display:block;
   margin-left:auto;
   margin-right:auto;
  margin-bottom: -150px;
   
}

.p1img {
    display:flex;
    align-items:center;
    justify-content: center;
    margin-left:100px;
    margin-right:100px;
   
}

@media screen and (max-width:900px) {
    .logoimg {
        width: 100%;
    }

    
}

.card-txt {
   text-align:left;
   padding-bottom: 4rem;

}
.card-text {
    text-align:left;
    padding-bottom: 1rem;
 
 }
 .card-t {
    text-align:center;
    padding-bottom: 1rem;
 
 }
 .lm{
     text-align: center;
 }
 .T {
     margin-top: 7%;
    text-align: center;
 }



